body {
    padding: 20px;
    user-select: none;
  }

  #wrapper {
    width: 320px;
  }

  #result {
    height: 100px;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
  }

  .row {
    display: flex;
    column-count: 3;
  }

  .row button {
    padding: 20px;
    flex: 1;
    font-size: 16px;
    border: 1px solid #ddd;
    background: #eee;
  }